* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid_container {
    display: grid;
    grid-template-columns: 1.32fr 3fr 1.32fr;
    grid-template-areas:
        "header header header"
        "left center right"
    ;
    background-color: #F0F2F5;
    grid-template-rows: 56px 3000px;
    row-gap: 16px;
}

.header {
    background-color: white;
    grid-area: header;
    display: grid;
    grid-template-columns: 1.32fr 3fr 1.32fr;
    grid-template-areas:
        "header-left header-center header-right"
    ;
    position: fixed;
    height: 56px;
    width: 100%;
    z-index: 2;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.left {
    grid-area: left;
    padding-left: 15px;
    position: fixed;
    height: 90vh;
    top: 72px;
    overflow: scroll;
}

.center {
    grid-area: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 3000px;
}

.right {
    grid-area: right;
    display: flex;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 72px;
    height: 90vh;
    overflow: scroll;
}


.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white
}

.search {
    display: flex;
    align-items: center;
    background-color: #F0F2F5;
    border-radius: 50px;
    width: 240px;
    gap: 5px;
}

.search svg {
    margin-left: 12px;
}

input {
    height: 40px;
    border: none;
    background-color: transparent;
    font-size: 0.9375rem;
    padding: 3px;
}

input::placeholder {
    color: #65676B;
    line-height: 1.34;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input:focus {
    border: none;
    outline: none;
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header-left;
    gap: 8px;
}

.header-center {
    display: flex;
    align-items: center;
    grid-area: header-center;
    justify-content: center;
}

.center-icon {
    width: 590px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center-icon div svg {
    color: #65676B;
}

.center-icon div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 18.915%;
    flex-shrink: 1;
}

.home {
    position: relative;
}

.active {
    position: absolute;
    height: 3px !important;
    background-color: #0866FF;
    width: 107.6px !important;
    align-self: flex-end;
}

.header-right {
    display: flex;
    justify-content: right;
    align-items: center;
    grid-area: header-right;
    padding-right: 16px;
}

.right-icons {
    width: 184px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-icons div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E4E6EB;
}

.right-icons div img {
    border-radius: 50%;
}

.notifications {
    position: relative;
}

.notifications div {
    position: absolute;
    height: 19px;
    width: 24px;
    padding: 5px;
    color: #FFFFFF;
    line-height: 1;
    font-size: .8125rem;
    background-color: #e41e3f;
    border-radius: 10px;
    right: -10px;
    top: -6px;
}

.pic {
    position: relative;
}

.pic div {
    position: absolute;
    height: 14px;
    width: 14px;
    color: #FFFFFF;
    background-color: #e41e3f;
    right: 0;
    top: 0;
    border: 2px solid #FFFFFF;
}

.pic1 {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 44px;
    gap: 12px;
    font-size: .9375rem;
    color: #050505;
    font-weight: 500;
    line-height: 1.3333;
    padding-left: 8px;
    margin-left: -8px;
    cursor: pointer;
}
.pic1:hover {
    background-color: #E4E6EB;
    border-radius: 8px;

}

.pic1 img {
    border-radius: 50%;
}

.sideicons {
    background-image: url(../images/icons/sideicons.png);
    background-size: auto;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    display: inline-block;
    transform: scale(.77777777);
    margin-left: -3px;
}

.left-item {
    width: 295px;
    padding-left: 8px;
    margin-left: -8px;
    cursor: pointer;
}
.left-item:hover {
    background-color: #E4E6EB;
    border-radius: 8px;
}

.left-item img {
    margin-right: 5px;
}

.left div:nth-child(2) .sideicons {
    background-position: 0 -259px;
}

.left div:nth-child(3) .sideicons {
    background-position: 0 -407px;
}

.left div:nth-child(4) .sideicons {
    background-position: 0 -148px;
}

.left div:nth-child(5) .sideicons {
    background-position: 0 -37px;
}

.left div:nth-child(6) .sideicons {
    background-position: 0 -481px;
}

.left div:nth-child(7) .sideicons {
    background-position: 0 -370px;
}

.left div:nth-child(8) .sideicons {
    background-image: url('../images/icons/feeds.png');
    background-size: auto;
}

.left div:nth-child(9) .sideicons {
    background-image: url('../images/icons/events.png');
    background-position: 0 -37px;
    background-size: auto;
}

.left div:nth-child(13) .sideicons {
    background-position: 0 -296px;
}

.left-item {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    font-size: .9375rem;
    color: #050505;
    font-weight: 500;
    line-height: 1.3333;
}

.right-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #65676B;
    font-size: 1.0625rem;
    font-weight: 600;
    padding-top: 5px;
    position: relative;
    margin-bottom: 20px;
    padding-left: 12px;
}

.right-header .search2 {
    position: absolute;
    right: 60px;
    top: 10px;
}

.right-header .more {
    position: absolute;
    right: 8px;
    top: 8px;
}

.right-container {
    width: 282px;
    padding-left: 1px;
}


.pic2 img {
    flex-shrink: 0;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    border: 0.114em solid #FFFFFF;
    outline: 0.114em solid #0866FF;
}

.nostory {
    border: none !important;
    outline: none !important;
}

.pic2 {
    display: flex;
    align-items: center;
    height: 26px;
    width: 26px !important;
    gap: 10px;
    position: relative;
    text-wrap: nowrap;
}

.online {
    display: flex;
    position: absolute;
    background-color: #31A24C;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: 1.333px solid white;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.right-item {
    height: 44px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-left: 12px;
}
.right-item:hover {
    background-color: #E4E6EB;
    border-radius: 8px;
}

.profilelink {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    width: 100%;
    height: 100%;
    color: #050505;
}



.story {
    display: flex;
    width: 590px;
    margin-top: 10px;
    gap: 8px;
}

.story div img {
    width: 140.633px;
    height: 250px;
    border-radius: 10px;
}

.prof1_pic {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    border: 4px solid #0866FF;
    position: relative;
}

.story1 {
    position: relative;
    height: 250px;
}

.storycont {
    position: absolute;
    top: 10px;
    left: 10px;
}

.prof {
    position: relative;
    height: 40px;
    width: 40px;
}

.active1 {
    border: 2px solid white !important;
    height: 12px;
    width: 12px;
}

.story-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: .8125rem;
    color: #FFFFFF;
    line-height: 1.2308;
    font-weight: 600;
}

.story-button {
    height: 49px;
    width: 100%;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0;
    border-bottom: 5px solid #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.story-button span {
    position: absolute;
    bottom: 4px;
    font-size: .8125rem;
    line-height: 1.2308;
    font-weight: 600;
}

.button-bg2 {
    height: 32px;
    width: 32px;
    background-color: #0866FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-bg1 {
    height: 40px;
    width: 40px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -20px;
}

.add-story {
    position: relative;
    height: 250px !important;
    overflow: hidden;
    border-radius: 10px;
}

.add-story img {
    margin-left: -50px;
    width:  250px !important;
    height: 300px;
}

.make-post {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 123px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.post {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 500px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}


.post-top img {
    height: 42px;
    width: 42px;
    border-radius: 50%;
}

.post-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 50%;
}

.make-post-button {
    padding: 10px;
    width: 420px;
    height: 40px;
    border-radius: 20px;
    background-color: #F0F2F5;
    font-size: 1.0625rem;
    color: #65676B;
}

.post-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #E4E6EB;
    width: 468px;
    height: 50%;
}

.make-post-item {
    width: 156px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.make-post-item img {
    width: 24px;
    height: 24px;
}

.post-profile img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.post-profile {
    padding: 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.username {
    font-size: .9375rem;
    font-weight: bold;
    line-height: 1.333;
}

.time {
    margin-top: 3px;
    font-size: .8125rem;
    color: #65676B;
}

.post-text {
    width: 100%;
    padding-left: 12px;
}

.post-image {
    margin-top: 10px;
    width: 100%;
}

.post-image img {
    width: 100%;
}

.post-reaction {
    margin-top: -4px;
    width: 468px;
}

.reaction-top {
    height: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reaction-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    color: #65676B;
}

.reaction-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #65676B;
    position: relative;
    height: 43px;
}

.reaction-icon {
    color: #65676B;
    filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
}


.reactant {
    display: flex;
    align-items: center;
    gap: 4px;
}

.emoji1 {
    position: absolute;
    left: 0;
    z-index: 3;
    top: 12px;
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.emoji2 {
    position: absolute;
    left: 18px;
    top: 12px;
    z-index: 2;
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.emoji3 {
    top: 10px;
    display: flex;
    align-items: center;
    position: absolute;
    gap: 5px;
    left: 36px;
}

.total {
    text-wrap: nowrap;
}

.reaction-bottom {
    width: 468px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #BCC0C4;
}

.reactions {
    width: 157.333px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #65676B;
    font-size: .9375rem;
    line-height: 1.333;
    font-weight: 600;
}

.more-header {
    display: none !important;
    width: 0;
}


.right-head-plus {
    display: none !important;
  }

.fifth-story {
    display: none;
}

.modbox0 {

    position: absolute;

    bottom: -56px;

    right: 0;

    z-index: 2;

    width: 160px !important;

    background-color: #FFFFFF !important;

    height: 40px !important;

    border-radius: 8px !important;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

    padding-left: 5px;

    align-items: center;

    cursor: pointer;

    display: none !important;

}



.logout {

    display: flex !important;

    justify-content: flex-start !important;

    gap: 10px;

    width: 150px !important;

    align-items: center;

    height: 30px !important;

    font-size: .9375rem;

    font-weight: 500;

    line-height: 1.333;

    color: #050505 !important;

    font-family: inherit;

    background-color: transparent !important;

    border-radius: none !important;

    position: none !important;

}



.logout:hover {

    background-color: #E4E6EB !important;

    border: none;

    border-radius: 6px !important;

}



.logoutIcon {

    margin-left: 10px;

    background-image: url(../images/icons/LeavegroupIcon.png) !important;

    background-size: auto;

    background-repeat: no-repeat;

    display: inline-block;

    height: 20px;

    width: 20px;

    background-position: 0 -273px;

}



.show3 {

    display: flex !important;

}



.pic {

    cursor: pointer;

}
.logo {

    cursor: pointer;
    z-index: 7;

}



@media screen and (max-width: 480px) {

    .grid_container {
        display: grid;
        grid-template-columns: auto;
        grid-template-areas:
            "header"
            "center"
        ;
        background-color: #F0F2F5;
        grid-template-rows: 56px 3000px;
        row-gap: 16px;
    }

    .left {
        display: none;
    }

    .right {
        display: none;
    }


}



@media screen and (min-width: 480px) and (max-width: 768px) {

    .grid_container {
        display: grid;
        grid-template-columns: auto;
        grid-template-areas:
            "header"
            "center"
        ;
        background-color: #F0F2F5;
        grid-template-rows: 56px 3000px;
        row-gap: 16px;
    }

    .left {
        display: none;
    }

    .right {
        display: none;
    }

    .make-post {
        width: 590px;
    }

    .center-icon {
        width: 90%;
        margin-right: -10px;
    }

    .more-header {
        display: flex   !important;
    }

    .center-icon div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 56px;
        width: 100% !important;
    }

    #search {
        display: none !important;
    }

    .search {
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }

      .active{
        width: 100% !important;
      }

      .game {
        display: none !important;
      }

      .right-head-more {
        display: none !important;
      }
      .right-head-plus {
        display: flex !important;
      }
      
      .header-left {
        justify-content: flex-start !important;
        padding-left: 15px;
      }

      .story {
        width: 680px;
        overflow: hidden;
      }

      .make-post {
        width: 680px;
      }

      .post {
        width: 680px;
      }


      .fifth-story {
        display: flex;
      }

}

@media screen and (min-width: 1024px) {}

a {
    text-decoration: none;
}