{% extends 'index.html' %}
{% block head %}

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Profile</title>
    <link href="{{ url_for('static', filename='images/icons/facebook.ico')}}" rel="shortcut icon" type="image/x-icon" />
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/profile.css')}}" rel="stylesheet" />

</head>
{% endblock %}

{% block body %}

      
        <div class="center">
            <div class="profile-background">
                {% if user.cover_img %}
                <img alt="" class="blur" src="{{url_for('static', filename = 'images/uploads/'+ user.cover_img)}}" />
                {% else %}
                <img alt="" class="blur" src="{{url_for('static', filename = 'images/pic19.jpg')}}" />
                {% endif %}
                <div class="gradient"></div>
                <div class="gradient2"></div>
                <div class="profile-box">
                    <div class="cover-photo">
                        {% if user.cover_img %}
                        <img alt="" class="og" src="{{url_for('static', filename = 'images/uploads/'+ user.cover_img)}}" />
                        {% else %}
                        <img alt="" class="og" src="{{url_for('static', filename = 'images/pic19.jpg')}}" />
                        {% endif %}
                    </div>
                    <div class="profile-name">
                        <div class="profile-pic">
                            <div class="image-resize">
                            {% if user.profile_img %}
                            <img alt="" src="{{url_for('static', filename = 'images/uploads/'+ user.profile_img)}}" />
                            {% else %}
                            <img alt="" src="{{url_for('static', filename = 'images/blankpic.webp')}}" />
                            {% endif %}
                        </div>
                            <div class="name">
                                <h1>{{user.first_name}} {{user.last_name}}</h1>
                                <span>{{user.length()}} friends</span>
                                {% if owner == user %}
                                <div class="edit-button">
                                    <button id="edit"><img alt="" class="editIcon"
                                            src="{{url_for('static', filename = 'images/editIcon.png')}}" />Edit

                                        Profile</button>
                                    <button class="button3" id="delete"><i class="editIcon2"></i> Delete

                                        account</button>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="nav-container">
                        <div class="nav">
                            <div class="nav-item">

                                About

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about">
                <h1>About</h1>
                <div class="details">



                    {{user.about}}


                    <div class="detail">
                        <div class="right-icon">
                            <img alt="" src="{{url_for('static', filename = 'images/genderIcon.png')}}" />
                            <span class="bold" style="text-transform: capitalize;">{{user.gender}}</span>
                        </div>
                        <div class="left-icons">
                            <img alt="" src="{{url_for('static', filename = 'images/worldIcon.png')}}" />
                            <i class="moreicon"></i>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="right-icon">
                            <img alt="" src="{{url_for('static', filename = 'images/AgeIcon.png')}}" />
                            <span class="bold">{{user.age}}</span>
                        </div>
                        <div class="left-icons">
                            <img alt="" src="{{url_for('static', filename = 'images/worldIcon.png')}}" />
                            <i class="moreicon"></i>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="right-icon">
                            <img alt="" src="{{url_for('static', filename = 'images/addressIcon.png')}}" />
                            <span class="bold">{{user.state}}</span>
                        </div>
                        <div class="left-icons">
                            <img alt="" src="{{url_for('static', filename = 'images/worldIcon.png')}}" />
                            <i class="moreicon"></i>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="right-icon">
                            <img alt="" src="{{url_for('static', filename = 'images/locationIcon.png')}}" />
                            <span class="bold">{{user.address}}</span>
                        </div>
                        <div class="left-icons">
                            <img alt="" src="{{url_for('static', filename = 'images/worldIcon.png')}}" />
                            <i class="moreicon"></i>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="right-icon">
                            <img alt="" src="{{url_for('static', filename = 'images/phoneIcon.png')}}" />
                            <span class="bold">{{user.email}}</span>
                        </div>
                        <div class="left-icons">
                            <img alt="" src="{{url_for('static', filename = 'images/worldIcon.png')}}" />
                            <i class="moreicon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    <div class="modal" id="modal">
        <div class="modal-cont">
            <div class="reg-form">
                <div class="regbox1">
                    <img alt="" class="close-icon" id="close-icon"
                        src="{{url_for('static', filename = 'images/icons/closeIcon.png')}}" />
                    <div class="modtext1">Profile</div>
                    <div class="modtext2">Make changes to your profile.</div>
                </div>
                <form action="{{ url_for('profile', id=owner.id)}}" method="post" class="form2" enctype="multipart/form-data">
                    <div class="input_2">
                        <div class="modbox1">
                            <input class="type1" id="firstname" name="first_name" placeholder="First name" type="text" required value="{{user.first_name}}"/>
                            <input class="type1" id="lastname" name="last_name" placeholder="Surname" type="text" required value="{{user.last_name}}"/>
                        </div>
                        <input class="type2" id="about" name="about" placeholder="About"
                            type="text"  value="{{user.about}}"/>
                        <input class="type2" id="address" name="address" placeholder="Address"
                            type="text" value="{{user.address}}"/>
                        <input class="type2" id="state" name="state" placeholder="State"
                            type="text" value="{{user.state}}"/>
                        <label for="profileImg">Profile picture</label>
                        <input type="file" name="profileImg" id="profileImg">
                        <label for="coverImg" style="display: block;">Cover photo</label>
                        <input type="file" name="coverImg" id="coverImg">
                    
    
                        <div>
                            <label class="label1" for="age">Age

                                <i class="questionIcon"></i>
                            </label>
                            <input class="age" id="age" name="age" type="number" value="{{user.age}}" required/>
                        </div>
                        <div>
                            <label class="label1" for="gender">Gender

                                <i class="questionIcon"></i>
                            </label>
                            <div class="modbox2">
                                {% if user.gender == 'male' %}
                                <div class="radio">
                                    <label for="male">Male</label>
                                    <input id="male" name="gender" type="radio" value="male" required checked/>
                                </div>
                                <div class="radio">
                                    <label for="female">Female</label>
                                    <input id="female" name="gender" type="radio" value="female" />
                                </div>
                                {% else %}
                                <div class="radio">
                                    <label for="male">Male</label>
                                    <input id="male" name="gender" type="radio" value="male" required>
                                </div>
                                <div class="radio">
                                    <label for="female">Female</label>
                                    <input id="female" name="gender" type="radio" value="female" checked/>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="modbox3">
                            <button class="button1">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal" id="modal3">
        <div class="modal-cont">
            <div class="reg-form">
                <div class="regbox1 deletebox">
                    <img alt="" class="close-icon" id="close-icon3"
                        src="{{url_for('static', filename = 'images/icons/closeIcon.png')}}" />
                    <div class="modtext1">Delete Account?</div>
                    <div class="modtext2">Are you sure you want to delete your account?.</div>
                </div>
                <div class="regbox2">
                    <a href="{{ url_for('deleteprofile')}}"><button class="button2">Confirm</button></a>
                    <button class="delete red">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    {% for message in get_flashed_messages() %}
    <div class="flash_msg">
        {{message}}

    </div>
    {% endfor %}


    {% endblock body %}

    {% block script %}
    <script>



        const edit = document.getElementById('edit')



        const modal = document.getElementById('modal')



        const closeIcon = document.getElementById('close-icon')



        const Delete = document.getElementById('delete')



        const modal3 = document.getElementById('modal3')



        const closeIcon3 = document.getElementById('close-icon3')



        edit.addEventListener('click', () => {

            modal.classList.add('show')

        })

        closeIcon.addEventListener('click', () => {

            modal.classList.remove('show')

        })

        Delete.addEventListener('click', () => {

            modal3.classList.add('show')

        })

        closeIcon3.addEventListener('click', () => {

            modal3.classList.remove('show')

        })









    </script>

{% endblock script %}
